*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
}

.wrapper{
    height: 500px;
    width: 700px;
}

.carousel{
    position: relative;
}

.carousel{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 2rem;
}

.carousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel h1,
.carousel h2{
    position: absolute;
    color: white;
    display: none;
}

.carousel h1{
    top: 100%;
}

.carousel h2{
    top: 110%;
}

#prevButton,
#nextButton{
    color: white;
    position: absolute;
    font-size: 2.2rem;
    left: 50%;
    transform: translateX(-50%);
    transition: .1s linear;
    cursor: pointer;
}

#prevButton:hover,
#nextButton:hover{
    font-size: 2.4rem;
}

#prevButton{
    top: 1%;
}

#nextButton{
    bottom: 1%;
}
